.HomeStudent {
  display: grid;
  place-items: center;
  height: 88vh;
}

.HomeStudent .container {
  max-width: 1200px;
  display: grid;
  place-items: center;
}

.HomeStudent .card-content {
  width: 700px;
  padding: 2rem;
  display: flex;
  gap: 1rem;
}

.HomeStudent .tabs {
  /* height: 100%; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* al */
}

.HomeStudent .tabs .tab-item {
  height: 100%;
  display: grid;
  width: 100%;
  place-items: center;
  cursor: pointer;
}

.HomeStudent .tab-item p {
  text-transform: uppercase;
  font-weight: bold;
  color: #272d2d;
}

.HomeStudent .tab-item:hover {
}

.HomeStudent .tab-item:hover:not(.active) p {
  font-size: 1.2rem;
}

.HomeStudent .tab-item.active {
  background-color: #335a17;
  border-radius: 10px;
}

.HomeStudent .tab-item.active p {
  color: white;
}

.HomeStudent .tab-content {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.4rem;
  text-align: center;
}

.HomeStudent .group-number {
  border: 1px solid grey;
  height: 30px;
  border-radius: 5px;
}

.HomeStudent .group-number p {
  cursor: pointer;
  line-height: 30px;
}

.HomeStudent .group-number p:hover {
  font-weight: bold;
}
