.HomeStudent {
    display: grid;
    place-items: center;
    height: 88vh;
}

.HomeStudent .container {
    max-width: 1200px;
    display: grid;
    place-items: center;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
}

.HomeStudent .card-item {
    height: 200px;
    width: 200px;
    cursor: pointer;
}

.HomeStudent .card-item:last-child {
    grid-column: 1 / span 2;
}

.HomeStudent .card-text {
    font-weight: bold;
    font-size: 1.5rem;
}

/* .HomeStudent .pointsContainer {
  width: 300px;
  padding: 1rem;
  justify-self: end;
  display: flex;
}

.HomeStudent .points {
  width: 100px;
}

.HomeStudent .points p {
  font-size: 1.2rem;
}

.HomeStudent .home-icon {
  font-size: 1.2rem;
}

.HomeStudent .menu {
  padding: 0 5rem;
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3rem;
}

.HomeStudent img {
  width: 250px;
  align-self: center;
  border-radius: 25px;
}

.HomeStudent .menu > div {

  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 270px;
  height: 230px;
  text-align: center;
  background-color: var(--light-green);
}

.HomeStudent h3 {
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

@media screen and (max-width: 778px) {
  .HomeStudent .pointsContainer {
    width: fit-content;
    justify-content: end;
  }

  .HomeStudent .menu {
    grid-template-columns: 1fr;
    grid-template-rows: unset;
    padding: 0 3rem;
    padding-bottom: 3rem;
  }
} */
