* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

/* VARIABLES  */
:root {
  --grey: #393e46;
  --light-green: #b3dec1;
  --dark-grey: #292d32;
  --peach: #fdf4f3;
}
