.Navbar {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grey);
  color: #eeeeee;
}

.Navbar .container {
  padding: 1rem;
  display: flex;
  max-width: 1080px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.Navbar .left-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 430px;
}

.Navbar ul {
  display: flex;
  text-decoration: none;
  width: 180px;
  justify-content: space-around;
}

.Navbar li {
  list-style: none;
}

.Navbar .user {
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.Navbar .logout-btn {
  background-color: var(--dark-grey);
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

@media screen and (max-width: 778px) {
  .Navbar h1 {
    font-size: 1rem;
  }

  .Navbar ul {
    display: none;
  }

  .Navbar .left-nav {
    justify-content: end;
    width: fit-content;
  }
}
